<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row" >

        <div class="col-lg-2 col-4 text-center mt-1 bg-info">
            <div class="row">
                <div class="col" [ngStyle]="{'height': screenHeight + 'px'}">
                    <app-nav-bar-izq></app-nav-bar-izq>
                </div>
            </div>
        </div>

        <div class="col-lg-10 col-8 text-center mt-5">
            <div class="row mt-5">
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12">
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col-12">
                          <img src="https://cdn.pixabay.com/photo/2016/04/01/10/42/cranium-1299985__340.png" width="200px" height="200px">
                          <div class="custom-file mb-5 mt-3">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Subir Foto</label>
                          </div>
                        </div><!--Foto-->
                        <div class="col-12">
                          <div class="form-group row mt-1">
                            <label class="">Rut</label>
                            <div class="col-sm-10">
                              <input class="form-control" type="text" placeholder=""  value="11111111-1" disabled={{ModificarRut}}>
                            </div>
                            <small> <button type="button" class="btn btn-primary btn-sm" (click)="modificaRut()">Modificar</button> </small>
                        </div>
                      </div>
                      </div> <!--row-->


                    </div>
                    <div class="col-6">

                    </div>






                   
  
                        
                        
                    </div>
                    
                    <div class="row mb-3">
                      <div class="col-8"></div>
                      <div class="col-4">
                        
                      </div>
                    </div>
                  </div>

                <div class="col-5">
                    <form>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Nombres</label> <!--onkeyup = "if(event.keyCode == 13) tufuncion()-->
                          <div class="col-sm-10">
                          
                            <input  class="form-control" type="text" placeholder="" value="Nicolas Ignacio" disabled={{ModificarNombres}} >
                            
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-9"></div>
                          <div class="col-3">
                            <small> <button type="button" class="btn btn-primary btn-sm" (click)="modificaNombres()" 
                                    >Modificar
                            </button> </small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Apellidos</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder=""  value="Correas Cadenas" disabled={{ModificarApellidos}}>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-9"></div>
                          <div class="col-3">
                            <small> <button type="button" class="btn btn-primary btn-sm" (click)="modificaApellidos()">Modificar</button> </small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""  value="nico@gmail.com" disabled={{ModificarEmail}}>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-9"></div>
                          <div class="col-3">
                            <small> <button type="button" class="btn btn-primary btn-sm" (click)="modificaEmail()">Modificar</button> </small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label  class="col-sm-2 col-form-label">Fono</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder=""  value="9 1234 5678" disabled={{ModificarFono}}>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-9"></div>
                          <div class="col-3">
                            <small> <button type="button" class="btn btn-primary btn-sm" (click)="modificaFono()">Modificar</button> </small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword"  value="123456" disabled={{ModificarContrasena}}>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-9"></div>
                          <div class="col-3">
                            <small> <button type="button" class="btn btn-primary btn-sm" (click)="modificaContrasena()">Modificar</button> </small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Tipo</label>
                          <div class="col-sm-10">
                            <select class="form-control form-control-sm">
                              <option>Default</option>
                              <option>Medico General</option>
                              <option>Fonoaudiologo</option>
                              <option>ETC</option>
                            </select>
                          </div>
                        </div>
                        
                    </form>

                </div>
                <div class="col-lg-1 col-12"></div>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>
