<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-2 mt-2 bg-warning">
            Barra navegacion izquierda (crisi)
        </div>
        <!-- col-2 izquierda -->
        <div class="col-lg-10 col-10 pr-5"> <!-- quiero agregar un padding lef -->
            <div class="row bg-info mt-2 p-2">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-light">Boton 1</button>
                </div>
                <!-- col-4 -->
                <div class="col-4">
                    <button type="button" class="btn btn-outline-light">Bonton 2</button>
                </div>
                <!-- col-4 -->
                <div class="col-4">
                    <button type="button" class="btn btn-outline-light">Boton 3</button>
                </div>
                <!-- col-4 -->
            </div>
            <!-- row -->
            <div class="row mt-3">
                <div class="col-lg-3 col-12">
                    <i class="fas fa-circle" style= "color: #28a745"></i>
                    Realizada
                    <div class="card border-dark mb-3" style="max-width: 100%;">
                        <div class="card-header bg-success"></div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Dark card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <!-- card -->
                </div>
                <!-- col-3 -->                 
                <div class="col-lg-3 col-12">
                    <i class="fas fa-circle" style= "color: #ffc107"></i>
                    Pendiente
                    <div class="card border-dark mb-3" style="max-width: 100%;">
                        <div class="card-header bg-warning"></div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Dark card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <!-- card -->
                </div>
                <!-- col-3 -->                 
                <div class="col-lg-3 col-12">
                    <i class="fas fa-circle" style= "color: #dc3545"></i>
                    Cancelada
                    <div class="card border-dark mb-3" style="max-width: 100%;">
                        <div class="card-header bg-danger"></div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Dark card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <!-- card -->
                </div>
                <!-- col-3 -->                 
                <div class="col-lg-3 col-12">
                    <i class="fas fa-circle" style= "color: #17a2b8"></i>
                    Cita reciente
                    <div class="card border-dark mb-3" style="max-width: 100%;">
                        <div class="card-header bg-info"></div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Dark card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <!-- card -->
                </div>
                <!-- col-3 -->                 
            </div>
            <!-- row -->
        </div>
        <!-- col-10 central -->
    </div>
    <!--- row-->
</div>
<!-- container -->