<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-2 d-none d-lg-block mt-2 bg-info">
            <div class="row">
                <div class="col" [ngStyle]="{'height': screenHeight + 'px'}">
                    Barra navegacion izquierda (crisi)
                </div>
            </div>
        </div>
        <!-- col-2 izquierda -->
        <div class="col-lg-10 col-12"> <!-- quiero agregar un padding left -->
            <div class="row bg-info mt-2 p-2">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-light">Botón 1</button>
                </div>
                <!-- col-4 -->
                <div class="col-4">
                    <button type="button" class="btn btn-outline-light">Botón 2</button>
                </div>
                <!-- col-4 -->
                <div class="col-4">
                    <button type="button" class="btn btn-outline-light">Botón 3</button>
                </div>
                <!-- col-4 -->
            </div>
            <!-- row -->
            <div class="row mt-3">
                <div class="col-lg-3 col-12"
                    *ngFor="let cita of citas"
                >
                    <app-consultas-card
                        [cita]="cita"
                    >
                    </app-consultas-card> 
                </div>   
                <!-- col 3 -->
            </div>
            <!-- row -->
        </div>
        <!-- col-10 central -->
    </div>
    <!--- row-->
</div>
<!-- container -->