
    <div class="row mt-5">
        <div class="col-12 p-0">
            <button id="boton-barra-lateral" type="button" class="btn btn-outline-light btn-block p-5" (click)="sesion()" ><span><i class="fas fa-user-md"></i></span> Mi Perfil</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 p-0 mt-5">
            <button id="boton-barra-lateral" type="button" class="btn btn-outline-light btn-block p-5" (click)="citas()"><span><i class="fas fa-calendar-alt"></i></span> Citas</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 p-0 mt-5">
            <button id="boton-barra-lateral" type="button" class="btn btn-outline-light btn-block p-5 " (click)="ayuda()"><span><i class="fas fa-hands-helping"></i></span> Ayuda</button>
        </div>
    </div>
