<app-nav-bar></app-nav-bar>

<div class="container-fluid">

  <div class="row">

    <div class="col-lg-2 col-3 text-center pb-5 mt-1 bg-info">
      <div class="row">
        <div class="col" [ngStyle]="{'height': screenHeight + 'px'}">
          <app-nav-bar-izq></app-nav-bar-izq>
        </div>
      </div>
    </div>


    <div>
      <div class="col-lg-10 col-8 text-center mt-3">
        <div class="row mt-4">
          <div class="col-lg-1 col-12">

          </div>
          <div class="col-lg-5 col-12 bg-light pt-3">

          </div>
          <div class="col-lg-5 col-12 bg-light pt-3">

          </div>

          <div class="col-lg-1 col-12">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>
