<!--Componente navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">
      <img src="favicon.ico" width="75" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-2" href="#"><span ><i class="fas fa-home"></i></span> Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#'><span><i class="far fa-address-book"></i></span> Contáctanos</a>
        </li>
      </ul>

      <!--<button type="button" class="btn btn-dark" (click)="navegarinicioSesion()">Identificarse</button>-->
        
      <!--agregar ng switch-->

        <div [ngSwitch]="getUrl()">
            <p *ngSwitchCase="'/inicio-sesion-usuario-screen'">
              <button type="button" class="btn btn-outline-light" (click)="navegarRegistrarse()"><span><i class="fas fa-user"></i></span> Registrate</button>
            </p>
            <p *ngSwitchCase="'/inicio-sesion-screen'">
              <button type="button" class="btn btn-outline-light" (click)="navegarRegistrarse()"><span><i class="fas fa-user"></i></span> Registrate</button>
            </p>
            <p *ngSwitchCase="'/sesion-personal-doctor'">
              <button type="button" class="btn btn-outline-light" (click)="navegarCerrarSesion()">Cerrar sesión</button>
            </p>
            <p *ngSwitchCase= "'/inicio-screen'">
              <button type="button" class="btn btn-outline-light" (click)="navegarinicioSesion()"> <span><i class="fas fa-user"></i></span> Identificarse</button>
            </p>
            <p *ngSwitchCase="'/sesion-personal-citas-doctor'">
              <button type="button" class="btn btn-outline-light" (click)="navegarCerrarSesion()">Cerrar sesión</button>
            </p>
            <p *ngSwitchCase="'/sesion-personal-ayuda-doctor'">
              <button type="button" class="btn btn-outline-light" (click)="navegarCerrarSesion()">Cerrar sesión</button>
            </p>
            <p *ngSwitchCase="'/registrarse-screen'">
              
            </p>


            
        </div>
      

    </div>
</nav>
