form {
  text-align: center;
  width: 100%;
}
form h3 {
  font-size: 14px;
}
form input {
  width: 30%;
}
form .ng-touched {
  background-color: #FFBFBF;
}
form #mensaje {
  clear: both;
  width: 100%;
}
form #mensaje .text-muted {
  color: red !important;
}
form .lleno {
  visibility: hidden;
}
#cajaformulario {
  margin-left: 20%;
  margin-right: 20%;
}
