<app-nav-bar></app-nav-bar>

<div class="container-fluid">
    <div class="row">

        <div class="col-2" style="background-color: aquamarine;">
            barra izq 
        
        </div>
       

        <div class="col-10 mt-3 ">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4" style="text-align: center; ">
                    <h1 style="background-color: aquamarine; border-radius: 20px;">Mi Perfil</h1>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row ml-2 mt-5">
                <div class="col-5">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Nombres</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder=""  value="Nicolas Felipe">
                          </div>
                    </div>
                    <div class="row mb-3 mt-2">
                        <div class="col-9"></div>
                        <div class="col-3">
                          <small> <button type="button" class="btn btn-primary btn-sm">Modificar</button> </small>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <label class="col-sm-2 col-form-label">Rut</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder=""  value="11111111-1" >
                          </div>
                    </div>
                    <div class="row mb-3 mt-2">
                        <div class="col-9"></div>
                        <div class="col-3">
                          <small> <button type="button" class="btn btn-primary btn-sm">Modificar</button> </small>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <label class="col-sm-2 col-form-label">Fono</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder=""  value="9 1234 5678" >
                          </div>
                    </div>
                    <div class="row mb-3 mt-2">
                        <div class="col-9"></div>
                        <div class="col-3">
                          <small> <button type="button" class="btn btn-primary btn-sm">Modificar</button> </small>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Apellidos</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder=""  value="Correa Correas" >
                          </div>
                    </div>
                    <div class="row mb-3 mt-2" style="text-align: end;">
                        <div class="col-9"></div>
                        <div class="col-3">
                          <small> <button type="button" class="btn btn-primary btn-sm">Modificar</button> </small>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <label class="col-sm-2 col-form-label">Mail</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""  value="nico@gmail.com">
                          </div>   
                    </div>
                    <div class="row mb-3 mt-2" style="text-align: end;">
                        <div class="col-9"></div>
                        <div class="col-3">
                          <small> <button type="button" class="btn btn-primary btn-sm">Modificar</button> </small>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <label class="col-sm-2 col-form-label">Contraseña</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword"  value="123456" >
                          </div>   
                    </div>
                    <div class="row mb-3 mt-2" style="text-align: end;">
                        <div class="col-9"></div>
                        <div class="col-3">
                          <small> <button type="button" class="btn btn-primary btn-sm">Modificar</button> </small>
                        </div>
                    </div>

                </div>
            </div>

            

        </div>




    </div>

</div>